.App {
  text-align: center;
}

.input-field {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 5px;
}

.submit-btn{
  background-color: lightgreen;
  margin-left: 55px;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
}
.get-users{
  background-color: lightgreen;
  /* margin-left: 55px; */
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;

}
.update-btn{
  background-color: #add8e6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.delete-btn{
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

