.App {
  text-align: center;
}

.input-field {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 5px;
}

.submit-btn{
  background-color: lightgreen;
  margin-left: 55px;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 5px;
}